html {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    width: 80%;
    margin: auto;

}

.head-title {
    text-align: center;
}

button {
    display: flex;
    text-align: center;
    margin: auto;
    padding: 0;
}

.fa-solid {
    background: green;
    height: 40px;
    width: 70px;
}

.fa-arrow-left,
.fa-arrow-right {
    position: fixed;
    padding: 30px;
  
    /* outline: 2px dashed blue; */
}

.fa-arrow-up,
.fa-arrow-down {
    position: sticky;
    padding: 30px;    
}

.fa-arrow-left { 
    bottom: 50%;
    left: 0;  
}

.fa-arrow-right {
    bottom: 50%;
   right: 0;  
}
